<!DOCTYPE html>
<html lang="en">
<head>
    <title>Federal Election Commission </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        table.GeneratedTable {
            width: 60%;
            background-color: #ffffff;
            border-collapse: collapse;
            border-width: 2px;
            border-color: blue;
            border-style: double;
            color: #000000;
        }

            table.GeneratedTable td, table.GeneratedTable th {
                border-width: 2px;
                border-color: blue;
                border-style: double;
                padding: 3px;
            }

            table.GeneratedTable thead {
                background-color: #3ab72a;
            }

        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            background-image: url('img/fec.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center bottom;
        }

        /* Style the side navigation */
        .sidenav {
            height: 100%;
            width: 200px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
        }


            /* Side navigation links */
            .sidenav a {
                color: white;
                padding: 16px;
                text-decoration: none;
                display: block;
            }

                /* Change color on hover */
                .sidenav a:hover {
                    background-color: #ddd;
                    color: black;
                }

        /* Style the content */
        .content {
            margin-left: 200px;
            padding-left: 20px;
        }
    </style>
</head>
<body>

    <div class="sidenav">
        <a href="Home/index.html">Home </a>
        <a href="http://mcmoran3.myweb.usf.edu/candidatemaster.html">Candidate Information</a>
        <a href="http://mcmoran3.myweb.usf.edu/contributionbyind.html">Individual Contribution to Committee Information </a>
        <a href="http://mcmoran3.myweb.usf.edu/committeetocandidate.html">Committee to Candidate Information</a>
        <a href="http://mcmoran3.myweb.usf.edu/aboutus.html">About Us</a>
    </div>

    <div class="content">
        <h2>Federal Election Commission</h2>
        <p>Below shows all the data related to active candidates running for office</p>
        If you would like to delete a candidate please click delete:<br />


        <button type="button"
                id="updateButton"
                class="btn btn-primary"
                onclick="Delete();">
            Delete
        </button>
    </div>
    <table style="margin-left: auto; margin-right: auto;" class="GeneratedTable">
        <thead>
            <tr>
                <th>Candidate ID</th>
                <th>Candidate Name</th>
                <th>Party Affiliation </th>
                <th>Year of Election</th>
                <th>Candidate State</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>H0AK00105</td>
                <td>LAMB	THOMAS</td>
                <td>DEM </td>
                <td>2020 </td>
                <td>Alabama</td>
            </tr>
            <tr>
                <td>H0AK00106</td>
                <td>HENRY	GUY</td>
                <td>REP </td>
                <td>2018 </td>
                <td>Florida </td>
            </tr>
            <tr>
                <td>H0AK00107</td>
                <td>SMITH ADAM</td>
                <td>DEM </td>
                <td>2018 </td>
                <td>Alabama</td>
            </tr>
            <tr>
                <td>H0AK00108</td>
                <td>COREY JOHN</td>
                <td>REP</td>
                <td>2018 </td>
                <td>Colorado</td>
            </tr>
            <tr>
                <td>H0AK00109</td>
                <td>SMITH JOHN</td>
                <td>DEM </td>
                <td>2020 </td>
                <td>Alabama</td>
            </tr>
        </tbody>
    </table>
</body>
</html>


