

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Data Visuals </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
</head>
<body>
    <h1>Contributions to Candidate </h1>

    <canvas id="doughnutchartexample" width="300" height="150"></canvas>

    <script>
        new Chart(document.getElementById("doughnutchartexample"), {
            type: 'doughnut',
            data: {
                labels: ["KNABIJAN", "JAMSHED", "RICE", "HANSEN", "CHATONEY"],
                datasets: [
                    {
                        label: "Sum of dollars contributed",
                        backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                        data: [3000, 6000, 1000, 5000, 2000]
                    }
                ]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: 'Contributions to Candidates'
                }
            }
        });
    </script>
</body>
</html>